.navbar,
.navbarHamburger {
  padding: calc(var(--base-space) * 2) calc(var(--base-space) * 10);
  position: sticky;
  top: 0;
}

.navbar {
  background-color: var(--color-background);
}

.navbarHamburger {
  background-color: #fff;
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1170px;
}

.active {
  color: var(--color-accent-text);
}

.logoWrapper {
  align-items: center;
  display: flex;
}

.logo {
  height: auto;
  width: 90%;
}

.logoText {
  font-size: 1.5rem;
  margin-left: var(--base-space);
}

.innerRight {
  align-items: center;
  display: flex;
  margin-left: calc(var(--base-space) * 2);
}

.navItem {
  transition: color 0.2s ease-in;
  padding: 0 calc(var(--base-space) * 2);
  white-space: nowrap;
}

.navItem:hover,
.hamburgerItem:hover {
  transition: color 0.2s ease-in;
  color: var(--color-accent-text);
}

.navItem:last-child {
  padding-right: 0;
}

.hamburgerButton {
  display: none;
}

.hamburgerWrapper {
  display: none;
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.hamburgerContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.hamburgerItem {
  transition: color 0.2s ease-in;
  font-size: 1.5rem;
  padding: var(--base-space) 0;
}

@media (max-width: 640px) {
  .hamburgerWrapper {
    display: block;
  }

  .hamburgerButton {
    display: block;
  }

  .navbar,
  .navbarHamburger {
    padding: calc(var(--base-space) * 2) calc(var(--base-space) * 5);
  }

  .navItems {
    display: none;
  }
}
