.summary {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: calc(var(--base-space) * 8);
  grid-row-gap: 0px;
}

.textBlock {
  border-right: 1px solid var(--color-border);
  padding-right: calc(var(--base-space) * 8);
}

.imgWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--base-space) * 6);
}

.imgWrapperSmallMargin {
  margin-bottom: calc(var(--base-space) * 3);
}

.imageMedium {
  max-width: 80%;
}

.shadow {
  -webkit-box-shadow: 3px 3px 16px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 3px 16px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 3px 16px -4px rgba(0, 0, 0, 0.45);
}

.colourSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colourPalette {
  display: flex;
  margin-bottom: calc(var(--base-space) * 5);
}

.colourPairWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.colourPairWrapper:not(:last-child) {
  margin-right: calc(var(--base-space) * 3);
}

.colours {
  display: flex;
  margin-top: calc(var(--base-space) * 2);
}

.successCircle,
.warningCircle,
.warningCircleLight,
.neutralCircle,
.neutralCircleLight {
  height: calc(var(--base-space) * 5);
  border-radius: 50%;
  width: calc(var(--base-space) * 5);
}

.successCircle {
  background-color: var(--color-success);
}

.warningCircle {
  background-color: var(--color-warning);
}

.warningCircleLight {
  background-color: var(--color-warning-light);
  margin-left: var(--base-space);
}

.neutralCircle {
  background-color: var(--color-neutral);
}

.neutralCircleLight {
  background-color: var(--color-neutral-light);
  margin-left: var(--base-space);
}

.chartColorWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: calc(var(--base-space) * 3);
  grid-row-gap: 0px;
}

@media (max-width: 768px) {
  .summary {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: calc(var(--base-space) * 4);
    grid-column-gap: 0;
  }

  .textBlock {
    border-bottom: 1px solid var(--color-border);
    border-right: 0;
    padding-right: 0;
  }

  .chartColorWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: calc(var(--base-space) * 3);
  }

  .successCircle,
  .warningCircle,
  .warningCircleLight,
  .neutralCircle,
  .neutralCircleLight {
    height: calc(var(--base-space) * 4);
    width: calc(var(--base-space) * 4);
  }

  .imageMedium {
    max-width: 100%;
  }
}
