/* [project]/app/redesign-of-an-rpa-orchestrator/redesign.module.css [app-client] (css) */
.redesign-module__mpRUsa__summary {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: calc(var(--base-space) * 8);
  grid-row-gap: 0px;
}

.redesign-module__mpRUsa__textBlock {
  border-right: 1px solid var(--color-border);
  padding-right: calc(var(--base-space) * 8);
}

.redesign-module__mpRUsa__imgWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--base-space) * 6);
}

.redesign-module__mpRUsa__imgWrapperSmallMargin {
  margin-bottom: calc(var(--base-space) * 3);
}

.redesign-module__mpRUsa__imageMedium {
  max-width: 80%;
}

.redesign-module__mpRUsa__colourSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.redesign-module__mpRUsa__colourPalette {
  display: flex;
  margin-bottom: calc(var(--base-space) * 5);
}

.redesign-module__mpRUsa__colourPairWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.redesign-module__mpRUsa__colourPairWrapper:not(:last-child) {
  margin-right: calc(var(--base-space) * 3);
}

.redesign-module__mpRUsa__colours {
  display: flex;
  margin-top: calc(var(--base-space) * 2);
}

.redesign-module__mpRUsa__successCircle, .redesign-module__mpRUsa__warningCircle, .redesign-module__mpRUsa__warningCircleLight, .redesign-module__mpRUsa__neutralCircle, .redesign-module__mpRUsa__neutralCircleLight {
  height: calc(var(--base-space) * 5);
  border-radius: 50%;
  width: calc(var(--base-space) * 5);
}

.redesign-module__mpRUsa__successCircle {
  background-color: var(--color-success);
}

.redesign-module__mpRUsa__warningCircle {
  background-color: var(--color-warning);
}

.redesign-module__mpRUsa__warningCircleLight {
  background-color: var(--color-warning-light);
  margin-left: var(--base-space);
}

.redesign-module__mpRUsa__neutralCircle {
  background-color: var(--color-neutral);
}

.redesign-module__mpRUsa__neutralCircleLight {
  background-color: var(--color-neutral-light);
  margin-left: var(--base-space);
}

.redesign-module__mpRUsa__chartColorWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: calc(var(--base-space) * 3);
  grid-row-gap: 0px;
}

@media (width <= 768px) {
  .redesign-module__mpRUsa__summary {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: calc(var(--base-space) * 4);
    grid-column-gap: 0;
  }

  .redesign-module__mpRUsa__textBlock {
    border-bottom: 1px solid var(--color-border);
    border-right: 0;
    padding-right: 0;
  }

  .redesign-module__mpRUsa__chartColorWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: calc(var(--base-space) * 3);
  }

  .redesign-module__mpRUsa__successCircle, .redesign-module__mpRUsa__warningCircle, .redesign-module__mpRUsa__warningCircleLight, .redesign-module__mpRUsa__neutralCircle, .redesign-module__mpRUsa__neutralCircleLight {
    height: calc(var(--base-space) * 4);
    width: calc(var(--base-space) * 4);
  }

  .redesign-module__mpRUsa__imageMedium {
    max-width: 100%;
  }
}

/*# sourceMappingURL=app_redesign-of-an-rpa-orchestrator_redesign_module_b52d8e.css.map*/