:root {
  --base-space: 0.5rem;
  --border-radius: 6px;

  --color-gray-100: #f5f5f3;
  --color-gray-300: #cecece;
  --color-gray-700: #646464;
  --color-gray-750: #41414e;
  --color-gray-800: #333333;
  --color-gray-900: #26262b;

  --color-red-200: #ec9796;
  --color-red-400: #fd496d;
  --color-red-450: #db524d;
  --color-red-700: #de022e;

  --color-green-200: #92cca5;

  --color-blue-800: #43679a;
  --color-blue-300: #7faef3;

  --color-border: var(--color-gray-300);
  --color-accent: var(--color-red-400);
  --color-accent-text: var(--color-red-700);
  --color-background: var(--color-gray-100);
  --color-background-dark: var(--color-gray-900);
  --color-text-medium: var(--color-gray-700);
  --color-text: var(--color-gray-800);
  --color-text-light: var(--color-gray-100);
  --color-button-hover: var(--color-gray-750);

  --color-success: var(--color-green-200);
  --color-warning: var(--color-red-450);
  --color-warning-light: var(--color-red-200);
  --color-neutral: var(--color-blue-800);
  --color-neutral-light: var(--color-blue-300);
}
