@import "../vars.css";

.card {
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  padding: calc(var(--base-space) * 3);
}

.iconWrapper {
  flex-shrink: 0;
  height: calc(var(--base-space) * 3);
  margin-right: calc(var(--base-space) * 2);
  width: calc(var(--base-space) * 3);
}

.title {
  font-weight: 600;
  margin-bottom: calc(var(--base-space) * 2);
}

.description {
  margin: 0;
}
