.introductionWrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: calc(var(--base-space) * 8);
  grid-row-gap: 0px;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: calc(var(--base-space) * 4);
  grid-row-gap: 0px;
}

.card {
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  padding: calc(var(--base-space) * 3);
}

.iconWrapper {
  flex-shrink: 0;
  height: calc(var(--base-space) * 3);
  margin-right: calc(var(--base-space) * 2);
  width: calc(var(--base-space) * 3);
}

.title {
  font-weight: 600;
  margin-bottom: calc(var(--base-space) * 2);
}

.descriptionItem {
  margin-bottom: var(--base-space);
}

@media (max-width: 1024px) {
  .introductionWrapper {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: calc(var(--base-space) * 3);
    grid-column-gap: 0;
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
  }

  .img {
    width: 40%;
  }
}

@media (max-width: 640px) {
  .text {
    font-size: 1.75rem;
  }

  .cardWrapper {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: calc(var(--base-space) * 4);
    grid-column-gap: 0;
  }

  .img {
    width: 50%;
  }
}
